
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm()) {
    <input type="hidden" name="userID" value="123" />
    <input type="hidden" name="newPassword" value="somePassword" />
    //Html.Hidden("userId", "123");
    //Html.Hidden("newPassword", "somePassword");
    <input type="submit" value="Submit" />
}

